@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* Main Page */
.signin-container{
    margin: 0 auto;
    width:600px;
}

.signin-toggle{
    font-size: 14px;
    font-weight: normal;
}

/* App */
textarea{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical;
}

tbody ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0px;
}

a{
    cursor: pointer;
}


table{
    table-layout:fixed;
}

.red{
    color: #ff0000;
}
.green{
    color: #216C2A;
}
.money_bullet{
    @extend .green;
    display: inline-block;
    width:60px;
}

textarea{
    width: 400px;
    height:100px;
}

input[type=text]{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:30px;
    width:400px;
}
input[type=number]{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:30px;
    width:100px;
}

.tab-pane{
    position:absolute;
    width:100%;
}

/* Animations */
.view-left-enter, .view-left-leave,
.view-right-enter, .view-right-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
}

.view-left-enter {
  left:140%;
}

.view-left-enter-active {
  left:0;
}

.view-left-leave {
  left:0;
}

.view-left-leave-active {
  left:-140%;
}

.view-right-enter {
  left:-140%;
}

.view-right-enter-active {
  left:0;
}

.view-right-leave {
  left:0;
}

.view-right-leave-active {
  left:140%;
}