<h1>Edit Group</h1>

<form class="form-horizontal" name="EditTable">
  <div class="control-group">
    <label class="control-label" for="title">Title:</label>
    <div class="controls">
      <input type="text" id="title" placeholder="Enter title" ng-model="form.title" name="title">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="emails">Members:</label>
    <div class="controls">
      <ul>
        <li>{{user.email}}</li>
        <li ng-repeat="member in old_members">{{member.email}}</li>
        <li ng-repeat="email in form.emails">{{email}}</li>
      </ul>
      <textarea id="emails" ng-model="form.emails" name="emails" placeholder="Enter a comma seperated list of emails" ng-list>
      </textarea>
    </div>
  </div>
  <a class="btn btn-warning" ng-href="#/manage">Cancel</a>
  <button class="btn btn-success" ng-click="save()">Submit</button>
  <button class="btn btn-danger" ng-click="delete()">Delete</button>
</form>

