<div style="width:600px; margin: 0 auto;">
  <h1 style="margin-bottom:20px;">Edit Group</h1>
  <div class="form-horizontal">
    <form class="control-group" name="groupname" novalidate>
      <label class="control-label" for="title">Title:</label>
      <div class="controls">
        <input type="text" id="title" placeholder="Enter title" ng-model="title" name="title" required>
      </div>
    </form>
  
    <div class="control-group">
      <label class="control-label" for="emails">Members:</label>
      <div class="controls">
        <ul class="unstyled">
          <li ng-repeat="member in members">
             <a ng-hide="$first" ng-click="removeMember(member)"><i class="icon-remove"></i></a>
             <span ng-class="{red: member.unregistered}">{{member.name}} ({{member.email}})</span>
          </li>
        </ul>
        <form ng-submit="addMember()" novalidate name="memberEmail" style="position:relative">
          <input type="email" ng-model="newMemberEmail" placeholder="New member email" required/>
          <input class="btn btn-small btn-primary" type="submit" value="add" ng-disabled="!memberEmail.$valid"/>
          <div ng-show="timeouts" class="red" style="position:absolute; bottom:-25px;">
            {{errorMsg}}
          </div>
        </form>
      </div>
    </div>
    <div class="controls">
      <button ng-disabled="!groupname.$valid" class="btn btn-success" ng-click="save()">Save</button>
      <a class="btn btn-warning" ng-href="#/manage">Cancel</a>
      <a class="btn btn-danger" ng-click="delete()"><i class="icon-white icon-trash"></i> Delete</a>
    </div>
  </div>
</div>

