
<h2> Total: {{allTotal() | currency}} </h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <td ng-repeat="person in owners">
        {{person.name}} <br/>
        Total: {{total(person) | currency}} <br/>
        Balance: <span ng-class="{red:getBalance(person)<0}">{{getBalance(person) | currency}}</span>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-repeat="person in owners">
        <ul ng-show="getItems(person).length">
          <li ng-repeat="item in getItems(person)" ng-animate="'slide'">
            {{item.amount|currency}} {{item.split}}
          </li>
        </ul>
        <div ng-hide="getItems(person).length">
          No transactions
        </div>
        <form ng-submit="addItemAll(person)">
          <input type="number" ng-model="person.input" min="0" step="0.01" placeholder="0.00">
          <input class="btn-primary" type="submit" value="add">
        </form>
        <button class="btn" ng-click="open(person)">Modal</button>
      </td>
    </tr>
  </tbody>
</table>

<a ng-href="#/add">New Trans</a>
<a ng-href="#/view">view Trans</a>

<div modal="newItemModal" close="close()" options="opts">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3>Add Transaction!</h3>
  </div>
  <div class="modal-body">
    <form ng-submit="addItem(currentUser)">
      <input type="number" ng-model="currentUser.input" min="0" step="0.01" placeholder="0.00"> <br/><br/>
      Split between me and...<br/><br/>
      <label class="checkbox" ng-repeat="owner in allOwnersExcept(currentUser)">
        <input type="checkbox" ng-click="toggleCheck(owner)" ng-checked="checkedNames.indexOf(owner.name) != -1"> {{owner.name}}
      </label>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning cancel pull-left" ng-click="close()">Cancel</button>
    <button class="btn btn-success" ng-click="addItem(currentUser)">Add</button>
  </div>
</div>



