<h1>Manage Tables</h1>
<h2>{{test.value}}</h2>
<table class="table">
  <thead>
    <tr>
      <th>Table</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(id,table) in tables">
      <td>
        <a ng-href="/home" ng-click="changeTable(id)">
          {{table.title}}
        </a>
      </td>
      <td>
        <ul>
          <li style="display:inline; float:left margin-right:20px;" ng-repeat="(id,member) in table.members">
            {{member.name}}
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn" ng-href="/new_table">New Table</a>
      </td>
      <td>
        
      </td>
    </tr>
  </tbody>
</table>
<button class="btn" ng-click="update()">Update</button>