<div style="width:600px;margin:0 auto;">
  <h1 style="position:relative;">
    Settle Balance <small>{{table.title}}</small>
    <a class="btn btn-primary" href="#/home" style="position:absolute;left:-100px;bottom:2px;">
      <i class='icon-white icon-circle-arrow-left'></i> Back
    </a>
  </h1>
  
  <div class="balance_container">
    <h3 ng-show="give.length">Give...</h3>
    <ul ng-show="give.length" style="margin-bottom:20px;">
      <li ng-repeat="member in give | orderBy:'amount':true">
        <span class="green bullet">{{member.amount|currency}}</span> to {{member.name}}
      </li>
    </ul>
    <h3 ng-show="get.length">Get...</h3>
    <ul ng-show="get.length" style="margin-bottom:20px;">
      <li ng-repeat="member in get | orderBy:'amount'">
        <span class="green bullet">{{member.amount|currency}}</span> from {{member.name}}
      </li>
    </ul>
  </div>
</div>




<style type="text/css">
.balance_container{
  margin-left:150px;
  margin-top: 20px;
}
.balance_container ul{
  list-style-type: none;
  font-size: 24px;
}
.balance_container ul li{
  line-height: 32px;
}
.balance_container .bullet{
  display: inline-block;
  margin-right: 10px;
}
</style>