

<style type="text/css">
html {
  background: url(img/Golden-Gate-Bridge-in-San-Francisco.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>


<div class="signin-container panel">
  <h1 class="banner-title">Problems managing money?</h1>
  <h3>Sign in <span class="signin-toggle">or <a href="#/register">register</a></span></h3>

  <form ng-submit="login()" name="form" novalidate>
    <div>
      <input type="email" placeholder="email" name="email" ng-model="login.email" required>
    </div>
    <div>
      <input type="password" placeholder="password" name="password" ng-model="login.password" required>
    </div>
    <label class="checkbox">
      <input type="checkbox" ng-model="login.rememberme" ng-checked="true"> Remember me
    </label>
    <button ng-disabled="!form.$valid" type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <p class="red" style="text-align:center;" ng-show="nouser">No user with that email. <a ng-href="#/register">Register?</a></p>
  <p class="red" style="text-align:center;" ng-show="invalid_password">Invalid password.</p>
</div>